PORT=3000
GOOGLE_CLIENT_ID=your-google-client-id-here
GOOGLE_CLIENT_SECRET=your-google-client-secret-here
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/google/callback
GROQ_API_KEY=<>
PREDICTION_API_URL=<>
DEEPFAKE_API_URL=<>
TELEGRAM_BOT_TOKEN=<>
TELEGRAM_CHAT_ID=<>